body {
    margin: 0;
    padding: 0;
    box-sizing: box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: magenta;
    border: 1px solid black;
    height: 60px;
    margin: 30px;
    margin-top: 50px;
    font-weight: 900;
    cursor: pointer;
}

.container {
    /* background-color: grey; */
    margin: auto;
    /* border: 2px solid black; */
    position: relative;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center; 
    border-radius: 100%;   
    position: relative;
    /* background-color: black; */
}

.box {
    border: 2px solid white;
    margin: 0 auto;
    cursor: pointer;
}

#inner-circle {
    border-radius: 50%;
    height: 180px;
    width: 180px;
    border: 1px solid white;
    position: relative;
    margin: 0 auto;
    bottom: 349px;
    background-color: white;
}

.green {
    background-color: darkgreen;
    height: 215px;
    width: 215px;
    border-radius: 100% 0 0 0;
}

.red {
    background-color: darkred;
    height: 215px;
    width: 215px;
    border-radius: 0 100% 0 0;
}

.yellow {
    background-color: gold;
    height: 215px;
    width: 215px;
    border-radius: 0 0 0 100%;
}

.blue {
    background-color: darkblue;
    height: 215px;
    width: 215px;
    border-radius: 0 0 100% 0;
}

h2 {
    text-align: center;
    border: solid 1px black;
    height: 40px;
    width: 250px;
    margin: 30px auto;
}