body {
    margin: 0;
    padding: 0;
    box-sizing: box;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: magenta;
    height: 40px;
}

.container {
    /* background-color: grey; */
    margin: auto;
    /* border: 2px solid black; */
    position: relative;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    border-radius: 100%;   
}

.box {
    border: 2px solid black;
    margin: 0 auto;
    cursor: pointer;
}

.box:hover {
    border-color: lightblue;
}


.green {
    background-color: green;
    height: 215px;
    width: 215px;
    border-radius: 100% 0 0 0;
}

.red {
    background-color: red;
    height: 215px;
    width: 215px;
    border-radius: 0 100% 0 0;
}

.yellow {
    background-color: yellow;
    height: 215px;
    width: 215px;
    border-radius: 0 0 0 100%;
}

.blue {
    background-color: blue;
    height: 215px;
    width: 215px;
    border-radius: 0 0 100% 0;
}

h2 {
    text-align: center;
    border: solid 1px black;
    height: 40px;
    width: 250px;
    margin: 30px auto;
}